
body {
    font-family: sans-serif;
  }
  h4 {
    margin-top: 100px;
}
  
  .cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px; 
    align-items: center;
  }
  
  .cart-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: calc(33% - 20px); 
    display: flex; 
  }
  
  .cart-item img {
    width: 100px; 
    object-fit: cover; 
  }
  
  .item-details {
    flex: 1; 
    padding-left: 15px;
  }
  
  .item-details p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .price,
  .total-price {
    color: #333;
    font-weight: bold;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .quantity {
    margin-right: 5px;
  }
  
  @media (max-width: 768px) {
    .cart-item {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .cart-item {
      width: 100%;
    }
  }