@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root{
    --header-height: 3rem;
    --font-medium: 500;
}


:root{
    --first-color: rgb(0, 140, 255);
    --white-color: rgb(255, 255, 255);
    --dark-color: #13232e;
    --text-color: rgb(150, 150, 150);
}


:root{
    --body-font: 'Space Grotesk', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 9rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}


:root{
    --z-fixed: 100;
}


*,::before,::after{
    box-sizing: menu-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== CLASS CSS ===== */
.section{
    padding: 3rem 0;
}
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}


.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
    
}


.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px){
    .nav__home{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: var(--dark-color);
}
.nav__link:hover{
    color: var(--first-color);
}
.nav__logo{
    color: var(--white-color);
}
.nav__toggle{
    color: var(--dar-color);
    font-size: 1.5rem;
    cursor: pointer;
}


.show{
    right: 0;
}

.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}


.home{
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;
}
.home__container{
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}
.home__title{
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .8;
}
.home__title span{
    text-shadow: 0 20px 25px rgba(0,0,0,.5);
}
.home__scroll{
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}
.home__scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}
.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
}

/* ===== reserve =====*/
.reserve__container{
    justify-items:center;
    row-gap: 2rem;
    text-align: center;
}
.reserve__img{
    object-fit: contain; 
    max-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 1rem;
    width: 100%; 
    height: auto; 
    overflow: visible; 
}


.reserve__img img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }

.reserve__subtitle{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.reserve__text{
    margin-bottom: var(--mb-4);
}

.reserve__button-link {
    display: inline-block;
    background-color: #25b3ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .reserve__button-link:hover {
    background-color: #195aff;
  }

/* ===== menu ===== */
.menu__container{
    row-gap: 2rem;
}

.menu__subtitle{
    text-align: center;
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}
.menu__name{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--white-color);
    border-radius: .25rem;
}

.menu__name:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}

.menu__img {
    display: flex;
  }
  .menu__container{
    display: flex;
    flex-direction: column;
  }

  .menu__img{
    order: -1;
  }
  .menu__img img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 30px;
  }
  
  .menu__img img:last-child {
    margin-right: 0;
  }
/* ===== FOOTER ======*/
.footer{
    background-color: var(--dark-color);
}

.footer__container{
    row-gap: 2rem;
}

.footer__title{
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: var(--mb-2);
}

.footer__link{
    padding: .25rem 0;
}

.footer__link:hover{
    color: var(--first-color);
}

.footer__social{
    font-size: 1.4rem;
    margin-top: var(--mb-1);
}

.footer__social:hover{
    color: var(--first-color);
}
/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link{
        color: var(--white-color);
    }
    .nav__link:hover{
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }

    .home__container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home__img{
        width: 524px;
        right: 10%;
    }

    .reserve__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .reserve__img{
        width: 200px;
        height: 200px;
    }
    .reserve__img img{
        width: 165px;
    }

    .menu__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.96);
    transition: .5s;
    backdrop-filter: blur(10px);
  }
  
  .nav__list {
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav__toggle {
    display: block;
  }
  
  .show-menu {
    right: 0;
  }
}

@media screen and (min-width: 769px) {
  .nav__toggle {
    display: none;
  }
  
  .nav__list {
    display: flex;
    column-gap: 2.5rem;
  }
}
