.menu-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: flex;
}

.menu-item {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.menu-item h2 {
    font-weight: bold;
    margin-top: 0;
}

.menu-item p {
    margin-bottom: 10px;
}

.menu-item form {
    margin-top: 20px;
}

.menu-item input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item input[type="submit"]:hover {
    background-color: #3e8e41;
}