.menu-column img {
    margin-left: auto;
    margin-top: auto;
    border-radius: 10px;
    transition: 0.3s ease;
    height: 300px;
    object-fit: cover;
    margin-bottom: 0px;
    display: block;
    
}

.menu-column img:hover {
    filter: brightness(50%);
}
.menu-column-text {
    margin-top: 0px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0; /* Warna latar belakang untuk kontainer penjelasan */
    margin: 20px 20px 0 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan sedikit bayangan untuk estetika */
}

.menu-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

}

.menu-column, .menu-column-text {
    flex: 1;
}

.edit-form-container{
    position: fixed;
    top:0; left:0;
    z-index: 1100;
    background-color: #eee;
    padding:2rem;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
 }
 
 .edit-form-container form{
    width: 50rem;
    border-radius: .5rem;
    background-color: #fff;
    text-align: center;
    padding:2rem;
 }
 
 .edit-form-container form .box{
    width: 100%;
    background-color: #eee;
    border-radius: .5rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#333;
    padding:1.2rem 1.4rem;
    text-transform: none;
 }

 .message{
    background-color: var(--blue);
    position: sticky;
    top:0; left:0;
    z-index: 10000;
    border-radius: .5rem;
    background-color: var(--white);
    padding:1.5rem 2rem;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
 }
 
 .message span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .message i{
    font-size: 2.5rem;
    color:var(--black);
    cursor: pointer;
 }
 
 .message i:hover{
    color:var(--red);
 }

.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding:2rem;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border:.1rem solid #999;
   border-radius: .5rem;
}

.products .box-container .box img{
   height: 25rem;
}

.products .box-container .box h3{
   margin:1rem 0;
   font-size: 2.5rem;
   color:#333;
}

.products .box-container .box .price{
   font-size: 2.5rem;
   color:#333;
}

